body {
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}

.col-md-6 {
    margin-top: 200px !important;
    padding: 15px !important;
    border: 5px solid #1F1D36 !important;
    ;
}

h1 {
    font-family: monospace;
    color: #040303;
    font-weight: bolder !important;
    margin: 10px !important;    
    
}


button {
    border: 2px solid #1F1D36 !important;
    margin: 20px !important;
    font-family: monospace !important;
    font-weight: bold !important;
    letter-spacing: 1px ;
}